.lm_goldenlayout {
  background: #000000;
}
.lm_content {
  background: #222222;
  border: 1px solid transparent;
}
.lm_dragProxy .lm_content {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
.lm_dropTargetIndicator {
  box-shadow: inset 0 0 30px #000000;
  outline: 1px dashed #cccccc;
}
.lm_dropTargetIndicator .lm_inner {
  background: #000000;
  opacity: 0.2;
}
.lm_splitter {
  background: #000000;
  opacity: 0.001;
  transition: opacity 200ms ease;
}
.lm_splitter:hover,
.lm_splitter.lm_dragging {
  background: #444444;
  opacity: 1;
}
.lm_header {
  height: 20px;
}
.lm_header .lm_tab {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #999999;
  background: #111111;
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.3);
  margin-right: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  /*.lm_title         // Present in LIGHT Theme
    {
      padding-top:1px;
    }*/
}
.lm_header .lm_tab .lm_close_tab {
  width: 11px;
  height: 11px;
  background-image: url('../img/lm_close_white.png');
  background-position: center center;
  background-repeat: no-repeat;
  top: 4px;
  right: 6px;
  opacity: 0.4;
}
.lm_header .lm_tab .lm_close_tab:hover {
  opacity: 1;
}
.lm_header .lm_tab.lm_active {
  border-bottom: none;
  box-shadow: 0 -2px 2px #000000;
  padding-bottom: 3px;
}
.lm_header .lm_tab.lm_active .lm_close_tab {
  opacity: 1;
}
.lm_header .lm_tab.lm_active.lm_focused {
  background-color: #354be3;
}
.lm_dragProxy.lm_right .lm_header .lm_tab.lm_active,
.lm_stack.lm_right .lm_header .lm_tab.lm_active {
  box-shadow: 2px -2px 2px #000000;
}
.lm_dragProxy.lm_bottom .lm_header .lm_tab,
.lm_stack.lm_bottom .lm_header .lm_tab {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.lm_dragProxy.lm_bottom .lm_header .lm_tab.lm_active,
.lm_stack.lm_bottom .lm_header .lm_tab.lm_active {
  box-shadow: 0 2px 2px #000000;
}
.lm_selected .lm_header {
  background-color: #452500;
}
.lm_tab:hover,
.lm_tab.lm_active {
  background: #222222;
  color: #dddddd;
}
.lm_header .lm_controls .lm_tabdropdown:before {
  color: #ffffff;
}
.lm_controls > * {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: opacity 300ms ease;
}
.lm_controls > *:hover {
  opacity: 1;
}
.lm_controls .lm_popout {
  background-image: url('../img/lm_popout_white.png');
}
.lm_controls .lm_maximise {
  background-image: url('../img/lm_maximise_white.png');
}
.lm_controls .lm_close {
  background-image: url('../img/lm_close_white.png');
}
.lm_controls .lm_dock {
  background-image: url('../img/lm_docked_white.png');
  transform: rotate(-45deg);
  transition: transform 300ms;
}
.lm_stack.lm_docked .lm_controls .lm_dock {
  transform: rotate(0deg);
}
.lm_stack.lm_docked > .lm_items {
  border-color: #555555;
  border-image: linear-gradient(to right, #444444 1%, #999999 100%);
  box-shadow: 0 2px 2px #000000;
}
.lm_maximised .lm_header {
  background-color: #000000;
}
.lm_maximised .lm_controls .lm_maximise {
  background-image: url('../img/lm_minimize_white.png');
}
.lm_transition_indicator {
  background-color: #000000;
  border: 1px dashed #555555;
}
.lm_popin {
  cursor: pointer;
}
.lm_popin .lm_bg {
  background: #ffffff;
  opacity: 0.3;
}
.lm_popin .lm_icon {
  background-image: url('../img/lm_popin_white.png');
  background-position: center center;
  background-repeat: no-repeat;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  opacity: 0.7;
}
.lm_popin:hover .lm_icon {
  opacity: 1;
}
